
body {
                  /*css has been included to customize the table format of this page*/
  margin: 0;
                  /*css has been included to customize the table format of this page*/
  font-family: Times New Roman, sans-serif;
}
                /*css has been included to customize the table format of this page*/
.topnav {
                  /*css has been included to customize the table format of this page*/
  overflow: hidden;
                  /*css has been included to customize the table format of this page*/
  background-color: red;
}
                /*css has been included to customize the table format of this page*/
.topnav a {
                  /*css has been included to customize the table format of this page*/
  float: right;
                  /*css has been included to customize the table format of this page*/
  color: #f2f2f2;
                  /*css has been included to customize the table format of this page*/
  text-align: center;
                  /*css has been included to customize the table format of this page*/
  padding: 14px 16px;
                  /*css has been included to customize the table format of this page*/
  text-decoration: none;
                  /*css has been included to customize the table format of this page*/
  font-size: 17px;
}
                /*css has been included to customize the table format of this page*/
.topnav a:hover {
                  /*css has been included to customize the table format of this page*/
  background-color: #04AA6D;
                  /*css has been included to customize the table format of this page*/
  color: white;
}
/*style tag ended here*/